
@import "tailwindcss";
p {
  font-family: var(--font-raleway);
}

/* Scrollbar personalizado para todo el sitio */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gold) var(--color-blue-header);
}

body {
  background-color: var(--color-blue-header);
}

body::-webkit-scrollbar {
  width: 10px;
  background: var(--color-blue-header);
}
body::-webkit-scrollbar-thumb {
  background: rgba(215, 184, 74, 0.65); /* gold con transparencia */
  border-radius: 8px;
  border: 2px solid var(--color-blue-header);
  transition: background 0.2s;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 199, 90, 0.65); /* más opaco al hacer hover */
}
header::-webkit-scrollbar {
  background: rgba(24, 40, 58, 0.7); /* azul header con transparencia */
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@theme {
  --font-raleway: 'Raleway', sans-serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
  --breakpoint-xs: 425px;
  --color-gold: #d7b84a;
  --color-blue-primary: #152a42;
  --color-blue-secondary: #0f1e31;
  --color-blue-surface: #101a28;
  --color-blue-header: #18283a;
  --color-text-main: #f3f3f3;
  --color-text-dark: #64748B;
}

h1, h2 {
  font-family: var(--font-bricolage);
}

p, button {
  font-family: var(--font-raleway);
}

.blurry-header {
    /* Required for the blur effect to be visible */
    background-color: rgba(24, 40, 58, 0.7);
    
    /* Apply the blur effect to the background */
    backdrop-filter: blur(20px); 
    
    /* Fallback for browsers that do not support backdrop-filter */
    /* You might use a solid or semi-transparent background color */
    /* background-color: rgba(255, 255, 255, 0.9); */

    /* Additional styling for positioning and appearance */
    position: sticky; /* Or 'fixed' */
    top: 0;
    z-index: 20;
    padding: 1em;
    /* Other styles like height, width, border-bottom etc. */
}
